* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px;
}
header .material-symbols-outlined {
  color: rgb(100, 100, 100);
  padding: 0 7px;
  cursor: pointer;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo #menu {
  padding: 0 7px;
  cursor: pointer;
}
header .searchbar {
  display: flex;
}
header .searchbar form {
  display: flex;
  border: 1px solid #ddd;
  height: 45px;
  border-radius: 50px 50px;
}
header .searchbar form input {
  width: 600px;
  padding: 10px;
  border: 0;
  height: 100%;
  border-radius: 50px 50px;
}
header .searchbar form input:focus {
  outline: none;
  border: 1px solid #ddd;
}
header .searchbar form button {
  height: 100%;
  width: 60px;
  border: none;
  border-radius: 0px 50px 50px 0px;
}
header .searchbar .mic {
  margin-top: -5%;
  border-radius: 50px;
}

main {
  height: calc(100vh - 60px);
  display: flex;
  background-color: #ffffff;
}
main .sidebar {
  color: black;
  height: 100%;
  width: 250px;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
main .sidebar .material-symbols-outlined {
  color: black;
}
main .sidebar .nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 15px;
  display: block;
}
main .sidebar .nav .navlink {
  display: flex;
  align-items: center;
  padding: 12px 25px;
  color: black;
}
main .sidebar .nav .navlink span {
  margin-left: 15px;
}
main .sidebar .nav .navlink img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
main .sidebar .nav .navlink:hover {
  background: #e5e5e5;
  cursor: pointer;
}
main .sidebar .nav .active {
  background: #e5e5e5;
}
main ::-webkit-scrollbar {
  width: 8px;
  background: none;
}
main ::-webkit-scrollbar-thumb {
  display: block;
}
main ::-webkit-scrollbar-thumb:hover {
  display: block;
}
main ::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
main ::-webkit-scrollbar-thumb {
  background: rgb(173, 173, 173);
  border-radius: 5px;
}

.videocontainer iframe {
  border-radius: 10px;
}

.content {
  width: calc(100vw - 250px);
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
}
.content .chip-wrapper {
  overflow-x: scroll;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid white;
  position: fixed;
  margin-bottom: 10%;
}
.content .chip-wrapper .chip {
  font-size: 18px;
  margin: 12px 6px;
  background-color: rgba(0, 0, 0, 0.0509803922);
  padding: 6px 12px;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  color: black;
}
.content .chip-wrapper .chip a {
  color: black;
}
.content .chip-wrapper .chip a p {
  color: black;
}
.content .chip-wrapper .chip:hover {
  background-color: rgba(0, 0, 0, 0.3019607843);
}

.videocontainer {
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px;
  overflow-y: scroll;
  margin-top: 6%;
}
.videocontainer .vids .videos {
  width: 250px;
}
.videocontainer .vids .details {
  display: flex;
}
.videocontainer .vids .details .author img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.videocontainer .vids .title {
  display: flex;
  flex-direction: column;
}
.videocontainer .vids .title h3 {
  color: rgb(0, 0, 0);
  line-height: 18px;
  font-size: 20px;
  margin-bottom: 6px;
}
.videocontainer .vids .title a {
  font-size: 15px;
}
.videocontainer .vids .title span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 16px;
}

@media (max-width: 1440px) {
  .content {
    width: calc(100vw - 200px);
  }
  .content .chip-wrapper {
    overflow-x: scroll;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: fixed;
  }
  .content .chip-wrapper .chip {
    font-size: 14px;
    margin: 12px 6px;
    background-color: rgba(0, 0, 0, 0.0509803922);
    padding: 6px 12px;
    border: 1px solid rgba(0, 0, 0, 0.0509803922);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: black;
  }
  .content .chip-wrapper .chip:hover {
    background-color: rgba(0, 0, 0, 0.3019607843);
  }
  .videocontainer {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 190px;
    padding: 25px;
    overflow-y: scroll;
    margin-top: 5%;
    margin-right: 3%;
  }
  .videocontainer .details {
    display: flex;
  }
  .videocontainer .details .author img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .videocontainer .title {
    display: flex;
    flex-direction: column;
  }
  .videocontainer .title h3 {
    color: rgb(0, 0, 0);
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 6px;
  }
  .videocontainer .title span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
  }
  main {
    height: calc(100vh - 60px);
    display: flex;
    background-color: #ffffff;
  }
  main .sidebar {
    color: black;
    height: 100%;
    width: 250px;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }
  main .sidebar .material-symbols-outlined {
    color: black;
  }
  main .sidebar .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
  }
  main .sidebar .nav .navlink {
    display: flex;
    align-items: center;
    padding: 12px 25px;
    color: black;
  }
  main .sidebar .nav .navlink span {
    margin-left: 15px;
  }
  main .sidebar .nav .navlink img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  main .sidebar .nav .navlink:hover {
    background: #e5e5e5;
    cursor: pointer;
  }
  main .sidebar .nav .active {
    background: #e5e5e5;
  }
  main ::-webkit-scrollbar {
    width: 8px;
    background: none;
  }
  main ::-webkit-scrollbar-thumb {
    display: block;
  }
  main ::-webkit-scrollbar-thumb:hover {
    display: block;
  }
  main ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
  }
  main ::-webkit-scrollbar-thumb {
    background: rgb(173, 173, 173);
    border-radius: 5px;
  }
  .videocontainer iframe {
    border-radius: 10px;
  }
}
@media (max-width: 1262px) {
  .content {
    width: calc(100vw - 220px);
  }
  .content .chip-wrapper {
    overflow-x: scroll;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: fixed;
  }
  .content .chip-wrapper .chip {
    font-size: 14px;
    margin: 12px 6px;
    background-color: rgba(0, 0, 0, 0.0509803922);
    padding: 6px 12px;
    border: 1px solid rgba(0, 0, 0, 0.0509803922);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: black;
  }
  .content .chip-wrapper .chip:hover {
    background-color: rgba(0, 0, 0, 0.3019607843);
  }
  .videocontainer {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
    margin-top: 8%;
    margin-right: 3%;
  }
  .videocontainer .details {
    display: flex;
  }
  .videocontainer .details .author img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .videocontainer .title {
    display: flex;
    flex-direction: column;
  }
  .videocontainer .title h3 {
    color: rgb(0, 0, 0);
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 6px;
  }
  .videocontainer .title span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
  }
}
@media (max-width: 990px) {
  .content {
    width: calc(100vw - 200px);
  }
  .content .chip-wrapper {
    overflow-x: scroll;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: fixed;
  }
  .content .chip-wrapper .chip {
    font-size: 14px;
    margin: 12px 6px;
    background-color: rgba(0, 0, 0, 0.0509803922);
    padding: 6px 12px;
    border: 1px solid rgba(0, 0, 0, 0.0509803922);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: black;
  }
  .content .chip-wrapper .chip:hover {
    background-color: rgba(0, 0, 0, 0.3019607843);
  }
  .videocontainer {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
    margin-top: 8%;
    margin-right: 3%;
  }
  .videocontainer .details {
    display: flex;
  }
  .videocontainer .details .author img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .videocontainer .title {
    display: flex;
    flex-direction: column;
  }
  .videocontainer .title h3 {
    color: rgb(0, 0, 0);
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 6px;
  }
  .videocontainer .title span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
  }
  header .material-symbols-outlined {
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
  }
  header .logo {
    display: flex;
    align-items: center;
  }
  header .logo #menu {
    padding: 0 7px;
    cursor: pointer;
  }
  header .searchbar {
    display: flex;
  }
  header .searchbar form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 50px 50px;
    margin-left: 2%;
  }
  header .searchbar form input {
    width: 400px;
    padding: 10px;
    border: 0;
    height: 100%;
    border-radius: 50px 50px;
  }
  header .searchbar form input:focus {
    outline: none;
    border: 1px solid #ddd;
  }
  header .searchbar form button {
    height: 100%;
    width: 60px;
    border: none;
    border-radius: 0px 50px 50px 0px;
  }
  header .searchbar .mic {
    margin-top: -5%;
    border-radius: 50px;
  }
}
@media (max-width: 984px) {
  .content {
    width: calc(100vw - 250px);
  }
  .content .chip-wrapper {
    overflow-x: scroll;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: fixed;
  }
  .content .chip-wrapper .chip {
    font-size: 14px;
    margin: 12px 6px;
    background-color: rgba(0, 0, 0, 0.0509803922);
    padding: 6px 12px;
    border: 1px solid rgba(0, 0, 0, 0.0509803922);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: black;
  }
  .content .chip-wrapper .chip:hover {
    background-color: rgba(0, 0, 0, 0.3019607843);
  }
  .videocontainer {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
    margin-top: 8%;
    margin-right: 3%;
  }
  .videocontainer .details {
    display: flex;
  }
  .videocontainer .details .author img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .videocontainer .title {
    display: flex;
    flex-direction: column;
  }
  .videocontainer .title h3 {
    color: rgb(0, 0, 0);
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 6px;
  }
  .videocontainer .title span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
  }
  header .material-symbols-outlined {
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
  }
  header .logo {
    display: flex;
    align-items: center;
  }
  header .logo #menu {
    padding: 0 7px;
    cursor: pointer;
  }
  header .searchbar {
    display: flex;
  }
  header .searchbar form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 50px 50px;
    margin-left: 2%;
  }
  header .searchbar form input {
    width: 400px;
    padding: 10px;
    border: 0;
    height: 100%;
    border-radius: 50px 50px;
  }
  header .searchbar form input:focus {
    outline: none;
    border: 1px solid #ddd;
  }
  header .searchbar form button {
    height: 100%;
    width: 60px;
    border: none;
    border-radius: 0px 50px 50px 0px;
  }
  header .searchbar .mic {
    margin-top: -5%;
    border-radius: 50px;
  }
}
@media (max-width: 956px) {
  .content {
    width: calc(100vw - 250px);
  }
  .content .chip-wrapper {
    overflow-x: scroll;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: fixed;
  }
  .content .chip-wrapper .chip {
    font-size: 14px;
    margin: 12px 6px;
    background-color: rgba(0, 0, 0, 0.0509803922);
    padding: 6px 12px;
    border: 1px solid rgba(0, 0, 0, 0.0509803922);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: black;
  }
  .content .chip-wrapper .chip:hover {
    background-color: rgba(0, 0, 0, 0.3019607843);
  }
  .videocontainer {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
    margin-top: 8%;
    margin-right: 3%;
  }
  .videocontainer .details {
    display: flex;
  }
  .videocontainer .details .author img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .videocontainer .title {
    display: flex;
    flex-direction: column;
  }
  .videocontainer .title h3 {
    color: rgb(0, 0, 0);
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 6px;
  }
  .videocontainer .title span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
  }
  header .material-symbols-outlined {
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
  }
  header .logo {
    display: flex;
    align-items: center;
  }
  header .logo #menu {
    padding: 0 7px;
    cursor: pointer;
  }
  header .searchbar {
    display: flex;
  }
  header .searchbar form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 50px 50px;
    margin-left: 2%;
  }
  header .searchbar form input {
    width: 400px;
    padding: 10px;
    border: 0;
    height: 100%;
    border-radius: 50px 50px;
  }
  header .searchbar form input:focus {
    outline: none;
    border: 1px solid #ddd;
  }
  header .searchbar form button {
    height: 100%;
    width: 60px;
    border: none;
    border-radius: 0px 50px 50px 0px;
  }
  header .searchbar .mic {
    margin-top: -5%;
    border-radius: 50px;
  }
}
@media (max-width: 950px) {
  .content {
    width: calc(100vw - 200px);
  }
  .content .chip-wrapper {
    overflow-x: scroll;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: fixed;
  }
  .content .chip-wrapper .chip {
    font-size: 14px;
    margin: 12px 6px;
    background-color: rgba(0, 0, 0, 0.0509803922);
    padding: 6px 12px;
    border: 1px solid rgba(0, 0, 0, 0.0509803922);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: black;
  }
  .content .chip-wrapper .chip:hover {
    background-color: rgba(0, 0, 0, 0.3019607843);
  }
  .videocontainer {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    overflow-y: scroll;
    margin-top: 8%;
    margin-right: 9%;
  }
  .videocontainer .details {
    display: flex;
  }
  .videocontainer .details .author img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .videocontainer .title {
    display: flex;
    flex-direction: column;
  }
  .videocontainer .title h3 {
    color: rgb(0, 0, 0);
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 6px;
  }
  .videocontainer .title span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
  }
  header .material-symbols-outlined {
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
  }
  header .logo {
    display: flex;
    align-items: center;
  }
  header .logo #menu {
    padding: 0 7px;
    cursor: pointer;
  }
  header .searchbar {
    display: flex;
  }
  header .searchbar form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 50px 50px;
    margin-left: 2%;
  }
  header .searchbar form input {
    width: 400px;
    padding: 10px;
    border: 0;
    height: 100%;
    border-radius: 50px 50px;
  }
  header .searchbar form input:focus {
    outline: none;
    border: 1px solid #ddd;
  }
  header .searchbar form button {
    height: 100%;
    width: 60px;
    border: none;
    border-radius: 0px 50px 50px 0px;
  }
  header .searchbar .mic {
    margin-top: -5%;
    border-radius: 50px;
  }
}
@media (max-width: 944px) {
  .content {
    width: calc(100vw - 320px);
  }
  .content .chip-wrapper {
    overflow-x: scroll;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: fixed;
  }
  .content .chip-wrapper .chip {
    font-size: 14px;
    margin: 12px 6px;
    background-color: rgba(0, 0, 0, 0.0509803922);
    padding: 6px 12px;
    border: 1px solid rgba(0, 0, 0, 0.0509803922);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: black;
  }
  .content .chip-wrapper .chip:hover {
    background-color: rgba(0, 0, 0, 0.3019607843);
  }
  .videocontainer {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
    margin-top: 8%;
    margin-right: 3%;
  }
  .videocontainer .details {
    display: flex;
  }
  .videocontainer .details .author img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .videocontainer .title {
    display: flex;
    flex-direction: column;
  }
  .videocontainer .title h3 {
    color: rgb(0, 0, 0);
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 6px;
  }
  .videocontainer .title span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
  }
  header .material-symbols-outlined {
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
  }
  header .logo {
    display: flex;
    align-items: center;
  }
  header .logo #menu {
    padding: 0 7px;
    cursor: pointer;
  }
  header .searchbar {
    display: flex;
  }
  header .searchbar form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 50px 50px;
    margin-left: 2%;
  }
  header .searchbar form input {
    width: 400px;
    padding: 10px;
    border: 0;
    height: 100%;
    border-radius: 50px 50px;
  }
  header .searchbar form input:focus {
    outline: none;
    border: 1px solid #ddd;
  }
  header .searchbar form button {
    height: 100%;
    width: 60px;
    border: none;
    border-radius: 0px 50px 50px 0px;
  }
  header .searchbar .mic {
    margin-top: -5%;
    border-radius: 50px;
  }
  main {
    height: calc(100vh - 80px);
    width: calc(100vw - 200px);
    display: flex;
    background-color: #ffffff;
    position: fixed;
  }
  main .sidebar {
    display: none;
  }
  main .sidebar .material-symbols-outlined {
    color: black;
  }
  main .sidebar .nav {
    display: none;
  }
  main .sidebar .nav .navlink {
    display: none;
  }
  main .sidebar .nav .navlink span {
    margin-left: 15px;
  }
  main .sidebar .nav .navlink img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  main .sidebar .nav .navlink:hover {
    background: #e5e5e5;
    cursor: pointer;
  }
  main .sidebar .nav .active {
    background: #e5e5e5;
  }
}
@media (max-width: 944px) and (max-width: 768px) {
  .content {
    width: calc(100vw - 200px);
  }
  .content .chip-wrapper {
    overflow-x: scroll;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: fixed;
  }
  .content .chip-wrapper .chip {
    font-size: 14px;
    margin: 12px 6px;
    background-color: rgba(0, 0, 0, 0.0509803922);
    padding: 6px 12px;
    border: 1px solid rgba(0, 0, 0, 0.0509803922);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    color: black;
  }
  .content .chip-wrapper .chip:hover {
    background-color: rgba(0, 0, 0, 0.3019607843);
  }
  .videocontainer {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: scroll;
    margin-top: 8%;
    margin-left: 20%;
  }
  .videocontainer .details {
    display: flex;
  }
  .videocontainer .details .author img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .videocontainer .title {
    display: flex;
    flex-direction: column;
  }
  .videocontainer .title h3 {
    color: rgb(0, 0, 0);
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 6px;
  }
  .videocontainer .title span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
  }
  header .material-symbols-outlined {
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
  }
  header .logo {
    display: flex;
    align-items: center;
  }
  header .logo #menu {
    padding: 0 7px;
    cursor: pointer;
  }
  header .searchbar {
    display: flex;
  }
  header .searchbar form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 50px 50px;
    margin-left: 2%;
  }
  header .searchbar form input {
    width: 400px;
    padding: 10px;
    border: 0;
    height: 100%;
    border-radius: 50px 50px;
  }
  header .searchbar form input:focus {
    outline: none;
    border: 1px solid #ddd;
  }
  header .searchbar form button {
    height: 100%;
    width: 60px;
    border: none;
    border-radius: 0px 50px 50px 0px;
  }
  header .searchbar .mic {
    margin-top: -5%;
    border-radius: 50px;
  }
}